*{
  box-sizing: border-box;
}
#container{
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.display{
  text-align: center;
  padding: 40px 5px;
  border: 1px solid;
  font-size: 40px;
}

.keys{
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  
}
.keys div{
  padding: 10px;
  font-size: 40px;
  border: 1px solid;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}