* {
  box-sizing: border-box;
}
#container {
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.display {
  text-align: center;
  padding: 40px 5px;
  border: 1px solid;
  font-size: 40px;
}

.keys {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.keys div {
  padding: 10px;
  font-size: 40px;
  border: 1px solid;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}

.num.zero {
  grid-area: 4/2/4/3;
}
.mathOperation.sum {
  grid-area: 1/4/1/5;
}

.mathOperation.sub {
  grid-area: 2/4/2/5;
}

.mathOperation.mul {
  grid-area: 3/4/3/5;
}

.mathOperation.divid {
  grid-area: 4/4/4/5;
}
.equal {
  grid-area: 4/3/4/4;
}
