*{
  box-sizing: border-box;
}
#container{
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.display{
  text-align: center;
  padding: 40px 5px;
  border: 1px solid;
  font-size: 40px;
}
